
li a {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	color: #FAFAFA;
}

h1 {
	color: #FFFFFF;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
}

h2 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

p  {
	color: #686963
}
h3  {
	color: #686963
}

.button_ventas {
	background-color: #FFFFFF;
	border-radius: 30px;
	padding: 2rem 5rem;
	color: #686963;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}



/*Navbar*/

.navbar_tiatomate {
	background-color: #FFFFFF;
	color: 686963 ;
	margin-bottom: 0;
	font-family: 'Raleway', sans-serif;

}
.navbar-brand img {
	max-width: 120px;
}

	/*Header TiaTomate*/
.header_tiatomate {
	background-color: #e56353;
	text-align: center;
	padding: 50px;

}

@media only screen and (max-width : 767px) {

	.header_tiatomate {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #e56353
	}

}

	/*Historia*/

.historia_tiatomate {
	background-color: #707070;
	height: 400px;
	padding: 40px 10px 20px 40px;
	
}

.historia_tiatomate h3 {
	color: #FFFFFF;
}
.historia_tiatomate p {
	color: #FFFFFF;
}

.historia_background {
	background-image: url("../img/img-history.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #707070;
	height: 400px;
}

	/* Feautures */

.features_tiatomate {
	background-color: #FAFAFA;
	height: 400px;
	padding: 40px 30px 20px 40px;
}

.features_background {
	background-image: url("../img/our-tomatoes.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

}

/*Nosotros y compras*/

.jumbotron {
	background-color: #e56353;
	color: #FFF;
	text-align: center;
	margin-bottom: 0;
}

.team_tiatomate {
	background-color: #FAFAFA;
	padding: 4%;
}

.team_tiatomate img {
	width: 300px;
	height: 300px;
	margin: 2%;
}

/*Footer*/

.footer_tiatomate {
	color: #FFFFFF;
	background-color: #686963;
}

.footer_icon {
	font-size: 3em;
	background-color: #FFFFFF;
	border-radius: 50px;
	padding: 0.8rem 0.8rem;
	color: #686963;
}

.footer_div {

	padding: 30px;
	text-align: center;
}


	
	
